asgiref==3.9.2
certifi>=2024.7.4
cffi>=1.16
charset-normalizer>=3.3
cloudinary==1.44.1
cryptography>=42
defusedxml==0.7.1
Django>=5.0,<5.2
django-cloudinary-storage==0.3.0
django-debug-toolbar>=4,<7
django-filter>=24,<26
djangorestframework>=3.15,<3.17
djangorestframework_simplejwt==5.5.1
djoser>=2.2,<2.4
drf-nested-routers>=0.93,<0.96
drf-yasg==1.21.11
idna>=3.6
inflection==0.5.1
oauthlib>=3.2
packaging>=23.2
pillow>=10,<12
psycopg2-binary==2.9.10
pycparser>=2.21
PyJWT>=2.8,<3
python-decouple==3.8
python3-openid==3.2.0
pytz>=2024.1
PyYAML>=6.0
requests>=2.31,<3
requests-oauthlib==2.0.0
six>=1.16
social-auth-app-django==5.5.1
social-auth-core==4.7.0
sqlparse>=0.5
tzdata>=2024.1
uritemplate==4.2.0
urllib3>=2.2,<3
whitenoise>=6,<7
